# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\d\git_test\y-oleg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
